*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root{
    --primary-light-purple: #6319C4;
    --dark-grey: #747472;
    --secondary-light-gray: rgb(241, 237, 237);
    --light-gray2: #dadadae8;
  }
  
  body {
    font-family: Roboto,sans-serif;
    height: 100vh;
  }
  .container{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 2rem;
   
      height: 100%;
  }
  .tab-container{
    display: flex;
    align-items: center;

    width: 30rem;
    height: 6.25rem;
    padding: 0.7rem 1rem;
    background-color: var(--secondary-light-gray);
    border: 1px solid var(--dark-grey);
  }
  .scrollable{
    overflow-x: scroll;
  }
  .tab, .tab__icon{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    border: none;
    background: transparent;
    padding: 14px 16px;
    color: var(--dark-grey);
    text-transform: uppercase;
    font-weight: bold;
}
.tab__icon-lead, .tab__scroll{
  flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    border: none;
    background: transparent;
    padding: 14px 16px;
    color: var(--dark-grey);
    text-transform: uppercase;
    font-weight: bold;
}
.tab__icon .icon{
  width: 24px;
  height: 24px;
  margin-bottom: 0.5rem;
}
.tab__icon-lead .icon{
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}
.tab-active, .tab__icon-lead-active, .tab__icon-active, .tab__scroll-active{
    background-color: var(--light-gray2);
    color: var(--primary-light-purple);
    border-bottom: 1px solid var(--primary-light-purple);
}