<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badges</title>
    <link rel="stylesheet" href="badge.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <p class="text">Text with a badge <span class="badge badge-above-after badge-small">4</span></p>
        <p class="text">Text with a larger baddge<span class="badge badge-overlay badge-large">1</span></p>
        <p class="text">Button with a badge on the left <span><button class="btn btn-primary">Action <span class="badge badge-above-before">8</span> </button></span> </p>
        <p class="text">Button toggles badge visibility <span><button id="toggle-btn" class="btn btn-secondary">Hide <span class="badge badge-btn-above-after">7</span> </button></span> </p>
        <p class="text">Icon with a badge <span class="icon material-icons">home</span> <span class="badge badge-icon-above-after badge-md">15</span> </p>
        <p class="text"></p>
    </div>

    <script src="badge.js"></script>
</body>
</html>  