<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vertical Card</title>
    <link rel="stylesheet" href="./cards.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>
   
    <div class="container">
         <!-- Basic card with title, text and actions below media -->
         <!-- card starts -->
         <div class="card c1">
            <div class="img__container">
                <img src="https://picsum.photos/300/200" alt="">
            </div>
            <div class="card-title-container">
                <h2 class="card__title">Atomic Habits</h2>
                <h5 class="card__subtitle text-dark">by James Clear</h5>
            </div>
            <div class="card__content text-light">
                Atomic Habit is the most comprehensive and practical guide.
            </div>
            <div class="card__action-container justify-between">
                <div class="card__action-btn">
                    <a href="#" class="btn btn__primary" >READ</a>
                    <a href="#" class="btn btn__primary">BOOKMARK</a>
                </div>
                <div class="card__action-icons">
                    <a href="" class="btn__secondary"><span class="material-icons">favorite_border</span></a>
                    <a href="" class="btn__secondary"><span class="material-icons">share</span></a>
                    <a href="" class="btn__secondary"><span class="material-icons btn__secondary">more_vert</span></a>
                </div>            
            </div>
        </div>
        <!-- card ends -->

        <!-- Basic with header -->
        <!-- card starts -->
        <div class="card c2">
            <div class="img__container">
                <img src="https://picsum.photos/300/200" alt="">
            </div>
            <div class="card-title-container top-header">
                <h2 class="card__title">Atomic Habits</h2>
                <h5 class="card__subtitle text-dark">by James Clear</h5>
            </div>
            <div class="card__content text-light">
                Atomic Habit is the most comprehensive and practical guide.
            </div>
            <div class="card__action-container justify-between">
                <div class="card__action-btn">
                    <a href="#" class="btn btn__primary" >READ</a>
                    <a href="#" class="btn btn__primary">BOOKMARK</a>
                </div>
                <div class="card__action-icons">
                    <a href="" class="btn__secondary"><span class="material-icons">favorite_border</span></a>
                    <a href="" class="btn__secondary"><span class="material-icons">share</span></a>
                    <a href="" class="btn__secondary"><span class="material-icons btn__secondary">more_vert</span></a>
                </div>            
            </div>
        </div>
        <!-- card ends-->

        <!--Basic card with text over media-->
        <div class="card c3">
            <div class="img__container img__container-relative">
                <img src="https://picsum.photos/300/200" alt="">
                <div class="card-title-container card-title-container-abs">
                    <h2 class="card__title">Atomic Habits</h2>
                    <h5 class="card__subtitle">by James Clear</h5>
                </div>
            </div>
            <div class="card__content text-light">
                Atomic Habit is the most comprehensive and practical guide.
            </div>
            <div class="card__action-container justify-between">
                <div class="card__action-btn">
                    <a href="#" class="btn btn__primary" >READ</a>
                    <a href="#" class="btn btn__primary">BOOKMARK</a>
                </div>
                <div class="card__action-icons">
                    <a href="" class="btn__secondary"><span class="material-icons">favorite_border</span></a>
                    <a href="" class="btn__secondary"><span class="material-icons">share</span></a>
                    <a href="" class="btn__secondary"><span class="material-icons btn__secondary">more_vert</span></a>
                </div>            
            </div>
        </div>
        <!-- card ends-->

        <!-- Card with only icons -->
        <!-- card starts -->
        <div class="card c4">
            <div class="img__container">
                <img src="https://picsum.photos/300/200" alt="">
            </div>
            <div class="card-title-container">
                <h2 class="card__title">Atomic Habits</h2>
                <h5 class="card__subtitle text-dark">by James Clear</h5>
            </div>
            <div class="card__content text-light">
                Atomic Habit is the most comprehensive and practical guide.
            </div>
            <div class="card__action-container">
                <div class="card__action-btn hidden">
                    <a href="#" class="btn btn__primary" >READ</a>
                    <a href="#" class="btn btn__primary">BOOKMARK</a>
                </div>
                <div class="card__action-icons">
                    <a href="" class="btn__secondary"><span class="material-icons">favorite_border</span></a>
                    <a href="" class="btn__secondary"><span class="material-icons">share</span></a>
                    <a href="" class="btn__secondary"><span class="material-icons btn__secondary">more_vert</span></a>
                </div>            
            </div>
        </div>
        <!-- card ends-->

        <!-- Card with only icons -->
        <!-- card starts -->
        <div class="card c5">
            <div class="img__container">
                <img src="https://picsum.photos/300/200" alt="">
            </div>
            <div class="card-title-container">
                <h2 class="card__title">Atomic Habits</h2>
                <h5 class="card__subtitle text-dark">by James Clear</h5>
            </div>
            <div class="card__content text-light">
                Atomic Habit is the most comprehensive and practical guide.
            </div>
            <div class="card__action-container">
                <div class="card__action-btn">
                    <a href="#" class="btn btn__primary" >READ</a>
                    <a href="#" class="btn btn__primary">BOOKMARK</a>
                </div>
                <div class="card__action-icons hidden">
                    <a href="" class="btn__secondary"><span class="material-icons">favorite_border</span></a>
                    <a href="" class="btn__secondary"><span class="material-icons">share</span></a>
                    <a href="" class="btn__secondary"><span class="material-icons btn__secondary">more_vert</span></a>
                </div>            
            </div>
        </div>
        <!-- card ends-->

        <!-- horizontal card starts -->
        <div class="card__horizontal c6">
            <div class="img-container">
                <img src="https://picsum.photos/300/200" alt="book cover page">
            </div>
            <div class="card__horizontal-body">
                <div class="card-title-container top-header">
                    <h2 class="card__title">Atomic Habits</h2>
                    <h5 class="card__subtitle text-dark">by James Clear</h5>
                </div>
                <div class="card__content text-light">
                    Atomic Habit is the most comprehensive and practical guide.
                </div>
                <div class="card__action-container">
                    <div class="card__action-btn">
                        <a href="#" class="btn btn__primary" >READ</a>
                        <a href="#" class="btn btn__primary">BOOKMARK</a>
                    </div>
                    <div class="card__action-icons">
                        <a href="" class="btn__secondary"><span class="material-icons">favorite_border</span></a>
                        <a href="" class="btn__secondary"><span class="material-icons">share</span></a>
                        <a href="" class="btn__secondary"><span class="material-icons btn__secondary">more_vert</span></a>
                    </div>
                </div>    
            </div>
        </div>
        <!-- card ends-->
    </div>
</html>