<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chips</title>
    <link rel="stylesheet" href="chip.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="chip__container">
          <header class="chip__title flex">
            <h3>Basic Chips</h3>
            <p>X</p>
          </header>
          <div class="chip__body">
            <div class="chip-field-wrapper">
              <div class="chip-field">
                <div class="chip-item-wrapper">
                    <p>apple</p>
                    <button class="btn-icon material-icons">cancel</button>
                </div>
                <div class="chip-item-wrapper">
                    <p>banana</p>
                    <button class="btn-icon material-icons">cancel</button>
                </div>
                <div class="chip-item-wrapper">
                    <p>strawberry</p>
                    <button class="btn-icon material-icons">cancel</button>
                </div>   
                <div class="chip-item-wrapper">
                    <p>orange</p>
                    <button class="btn-icon material-icons">cancel</button>
                </div>
                <div class="chip-item-wrapper">
                    <p>kiwi</p>
                    <button class="btn-icon material-icons">cancel</button>
                </div>
                <div class="chip-item-wrapper">
                    <p>cheery</p>
                    <button class="btn-icon material-icons">cancel</button>
                </div>
                <div class="chip-item-wrapper">
                    <p>papaya</p>
                    <button class="btn-icon material-icons">cancel</button>
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>