<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snackbar</title>
    <link rel="stylesheet" href="snackbar.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <!-- <div class="btn-container">
        <div class="btn-box">
            <button id="btn-base" class="btn btn__primary">BASELINE</button>
            <button id="btn-lead" class="btn btn__primary">LEADING</button>
        </div>
    </div> -->
    <div class="container">
        <div class="snackbar-field">
            <div class="snackbar-label">
                Can't send photos. Retry in next 5 seconds.
            </div>
            <div class="snackbar-actions">
                <button class="btn btn__action">
                    <div class="ripple"></div>
                    RETRY
                </button>
                <button class="btn btn__close">
                    <span class="material-icons">close</span>
                </button>
            </div>
        </div>
    </div>
</body>
</html>