*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root{
    --dark-slate-grey: #333;
    --dark-grey: #747472;
    --primary-light-pink: #bb86fc;
    --secondary-light-gray: rgb(241, 237, 237);
    --primary-light-purple: #6319C4;
  }
  
  body {
    font-family: Roboto,sans-serif;
    height: 100vh;
  }

  /* .btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .btn-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15rem;
    background-color:  var(--secondary-light-gray);
    border: 1px solid var(--primary-light-pink);
    padding: 1rem;
  }
  .btn__primary{
      background-color: var(--primary-light-purple);
      border-radius: 0.3rem;
      color: white;
      letter-spacing: 1px;
  } */
/* snackbar */
  .container{
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;   
    width: 100%;
    background-color: white;
}
.snackbar-field{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    position:fixed;
    bottom: 5px;
    min-width: 27rem;
    border-radius: 0.3rem;
    background-color: var(--dark-slate-grey);
    color: white;
}
.snackbar-label{
    padding: 0.4rem 1rem;
}
.snackbar-actions{
    margin-left: auto;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}
.btn{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;
    padding: 14px 16px;
}
.btn__action{
    background: none;
    font-size: 15px;
    color: var(--primary-light-pink);
    padding: 14px 16px;
    letter-spacing: 1px;   
}
.btn__close{
    color: white;
    font-size: 20px;
}